
.CodeMirror{
  height: 340px !important;
  color: #fff;
}
.CodeMirror-gutters{
  background: #1d1e22 !important;
}
.CodeMirror-scroll{
  background: #1d1e22 !important;
}

.css-0 {
  height: 40vh;
  overflow:hidden;
}
/* .edit{
  display: flex !important;
  flex-wrap: nowrap !important;
  word-wrap: break-word !important;
} */